.build-item {
	fill: #00a2ff00;
	stroke: #00a2ff00;
	fill-opacity: 0.36;
	stroke-width: 1px;
	transition: 0.3s;
	cursor: pointer;
	&:hover {
		fill: #00a3ff;
		stroke: #00a3ff;
		fill-opacity: 0.36;
	}
	&.sold {
		fill: #ff00eaae;
		stroke: #ff00bb;
		fill-opacity: 0.36;
		stroke-width: 1px;
		cursor: url(./assets/img/cursor-cancel.png) 2 2, pointer;
	}
}
