<div class="template-container">
	<div class="view-box inset-neomo">
		<svg
			width="832"
			height="662"
			viewBox="0 0 832 662"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
		>
			<image href="assets/img/first-screen_Geneva_1.png" />
			<a href="section-build.html">
				<path
					class="build-item"
					data-adress="Т.Г. Шевченко 7"
					data-floors="9"
					data-flats="90"
					data-descriptions="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt quisquam voluptates ipsam, saepe pariatur ducimus autem eius consectetur sapiente consequuntur, magnam delectus adipisci officiis, illo natus velit incidunt odio id architecto dignissimos? Minima rerum velit sunt consequatur natus magni nemo eligendi reprehenderit, voluptas totam dolores nam earum fugiat! Doloremque esse rem nemo quod! Natus."
					id="1build"
					d="M317 396.5V317L315.5 316.545L272.5 303.5H251.5L237.5 307L219 303.5L174 317L141.5 326.5L48.5 351L64 559.5L117 593.5L203.5 643H219V586.5L267 613L346.5 582.5L341 416L317 402.5V396.5Z"
					fill="#DC64E7"
					fill-opacity="0.37"
					stroke="#DC64E7"
				/>
			</a>
			<a href="section-build.html">
				<path
					class="build-item"
					data-adress="Небесноі сотні 100"
					data-floors="12"
					data-flats="80"
					data-descriptions="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum labore voluptatum! Placeat ad iusto et, beatae facere accusantium in exercitationem enim quisquam debitis, vel commodi praesentium saepe earum labore aliquid, quas iure est. Tempore labore quam enim reiciendis temporibus eligendi ullam, suscipit, molestias quis laboriosam dolore. Architecto, eaque distinctio. Nihil inventore illum quia a molestias perferendis nostrum nemo aperiam non commodi, hic quos sunt tempore aut recusandae, magnam vero! Dolore iusto labore odio, minima saepe sint!"
					id="2build"
					d="M529 522.5L586.5 502L590 355.5L405.5 303.5L351 315.5V497L377 511.5L386 515.5L397.5 522.5L412 515.5L421 519L439.5 515.5L451 511.5L470 522.5V511.5L485.5 507L493.5 511.5H499L529 522.5Z"
					fill="#8432ED"
					fill-opacity="0.41"
					stroke="#8432ED"
				/>
			</a>
			<a href="section-build.html">
				<path
					class="build-item sold"
					data-adress="Центральна 14"
					data-floors="15"
					data-flats="70"
					data-descriptions="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo possimus minima quaerat voluptates eveniet assumenda blanditiis quidem mollitia, voluptate iste."
					id="3build"
					d="M721 454.5L767 440.5L770.5 374.5H773.5V305H770.5H754.5L749.5 300L734 293L726.5 296.5L707.5 293L691 287L674.5 281H660.5L654 278.5H640L621 276L617 272.5H599.5V276H593V268.5H586L572.5 261.5H546H521L498.5 265L483.5 268.5L475 265L471 268.5H461.5H450H445H433.5L426 276H421.5L409 278.5L406 276L401 278.5L396 281L370.5 287V310.5L405.5 305H413.5L590 356V447.5L606 454.5L625 447.5L637 451.5L647 447.5L660.5 454.5V447.5L678.5 440.5L721 454.5Z"
					fill="#3288ED"
					fill-opacity="0.42"
					stroke="#3288ED"
				/>
			</a>
		</svg>
	</div>
	<div class="information inset-neomo">
		<h3 class="information-title">БУДИНОК <b id="option-status"></b></h3>
		<ul class="information-option-list">
			<li class="option-item">Адрес <b id="option-adress">12</b></li>
			<li class="option-item">Колл-во этажей <b id="option-floors">12</b></li>
			<li class="option-item">Колл-во квартир <b id="option-flats">12</b></li>
		</ul>
		<div id="information-description">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus atque,
			dicta, optio quod, laborum inventore aut officiis alias debitis vitae sit
			laudantium omnis ad dolores ducimus quidem voluptatem velit adipisci!
		</div>
	</div>
</div>
